<html lang="en">
    <head>
        <%- include('partials/head',title) %>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <p>This is the main login page</p>
                </div>
            </div>
        </main>
    </body>
</html>

    